<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>驿站</title>
    <link rel="stylesheet" th:href="@{/static/css/bootstrap.4.4.1.css}" type="text/css">
    <script th:src="@{/static/js/jquery-3.4.1.js}" type="text/javascript"></script>
    <script th:src="@{/static/js/popper.min.js}" type="text/javascript"></script>
    <script th:src="@{/static/js/bootstrap.4.4.1.min.js}" type="text/javascript"></script>
    <link type="text/css" rel="stylesheet" th:href="@{/static/css/index.css}" />
    <script type="text/javascript" th:src="@{/static/js/jquery-3.4.1.js}"></script>
    <link rel="shortcut icon" href="#" />
</head>
<body>

<!--导航条-->
<nav class="nav nav-pills">
    <div class="btn-group">
        <button type="button" class="btn btn-success dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" th:text="${#request.getSession().getAttribute('name')}" id="msg"></button>
        <div class="dropdown-menu">
            <a class="dropdown-item" href="#">个人中心</a>
            <a class="dropdown-item" th:href="@{/logout}">退出登录</a>
        </div>
    </div>
</nav>

<form id="upload_video">

    <div class="input-group mb-3" id="play_link">
        <input type="text" class="form-control" placeholder="请输入视频名称" name="name" id="name">
        <div class="input-group-append">
            <button type="button" class="btn btn-success" id="play_btn" onclick="uploadVideo()">一键部署</button>
        </div>
    </div>
    <div class="progress">
      <div class="progress-bar" role="progressbar" style="width: 0%;" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>
    </div>
</form>

<script>
    function uploadVideo(){
        if($('#name').val() == null || $('#name').val() == ""){
            alert('不能为空！');
        }else{
            $.ajax({
                url:"/upload_video",
                type:"get",
                dataType:"json",
                data:$('#upload_video').serialize(),
                beforeSend: function(){
                    alert("开始部署！");
                    var getProcess = setInterval(function(){
                        $.ajax({
                            url:"/getProcess",
                            type:"post",
                            dataType:"json",
                            data:{},
                            success:function(data) {
                                //console.log(data);
                                $('.progress-bar').css("width",data.data+"%");
                                $('.progress-bar').attr("aria-valuenow",data.data);
                                if(data.data == "100"){
                                    window.clearInterval(getProcess);
                                }
                            }
                        })
                    },1000);
                },
                success:function (data) {
                    setTimeout(function() {
                      alert("部署完毕！");
                    },1000)
                    console.log(data);
                }
            })
        }
    }
</script>
</body>
</html>