<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>驿站</title>
    <link rel="stylesheet" th:href="@{/static/css/bootstrap.4.4.1.css}" type="text/css">
    <script th:src="@{/static/js/jquery-3.4.1.js}" type="text/javascript"></script>
    <script th:src="@{/static/js/popper.min.js}" type="text/javascript"></script>
    <script th:src="@{/static/js/bootstrap.4.4.1.min.js}" type="text/javascript"></script>
    <link type="text/css" rel="stylesheet" th:href="@{/static/css/index.css}"/>
    <script type="text/javascript" th:src="@{/static/js/jquery-3.4.1.js}"></script>
    <script type="text/javascript" th:src="@{/static/js/nav.js}"></script>
    <link type="text/css" rel="stylesheet" th:href="@{/static/css/live.css}"/>
    <link rel="shortcut icon" href="#"/>
</head>
<body>

<!--导航条-->
<nav class="nav nav-pills">
    <div class="btn-group">
        <button type="button" class="btn btn-success dropdown-toggle" data-toggle="dropdown" aria-haspopup="true"
                aria-expanded="false" th:text="${#request.getSession().getAttribute('name')}" id="msg"></button>
        <div class="dropdown-menu">
            <a class="dropdown-item" href="/admin/manage">个人中心</a>
            <a class="dropdown-item" th:href="@{/logout}">退出登录</a>
        </div>
    </div>
</nav>

<div class="row">
    <div class="col-md-2 col-sm-2" th:each="it:${videos}">
        <img th:src="@{'/static/images/video/'+${it.getTitle()}+'.jpg'}" th:alt="${it.getTitle()}">
        <button target="_blank" type="button" class="btn btn-danger btn-block"
                th:onclick="delete_video([[${it.getId()}]])" id="delete_btn">删除
        </button>
    </div>
</div>
<script>

    function delete_video(id) {
        var msg = confirm("是否删除");
        if (msg == true) {
            console.log(id);
            $.ajax({
                url: "/admin/delete_video",
                type: "get",
                dataType: "json",
                data: {id: id},
                success: function (data) {
                    console.log(data);
                    if (data.code == "200") {
                        alert("删除成功!");
                        window.location.reload();
                    } else {
                        alert("删除失败！");
                    }
                }
            })
        }
    }
</script>
</body>
</html>