<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>驿站</title>
    <link rel="stylesheet" th:href="@{/static/css/bootstrap.4.4.1.css}" type="text/css">
    <script th:src="@{/static/js/jquery-3.4.1.js}" type="text/javascript"></script>
    <script th:src="@{/static/js/popper.min.js}" type="text/javascript"></script>
    <script th:src="@{/static/js/bootstrap.4.4.1.min.js}" type="text/javascript"></script>
    <link type="text/css" rel="stylesheet" th:href="@{/static/css/index.css}" />
    <link type="text/css" rel="stylesheet" th:href="@{/static/css/manage.css}" />
    <script type="text/javascript" th:src="@{/static/js/jquery-3.4.1.js}"></script>
    <link rel="shortcut icon" href="#" />
</head>
<body>

<!--导航条-->
<nav class="nav nav-pills">
    <div class="btn-group">
        <button type="button" class="btn btn-success dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" th:text="${#request.getSession().getAttribute('name')}" id="msg"></button>
        <div class="dropdown-menu">
            <a class="dropdown-item" th:href="@{/logout}">退出登录</a>
        </div>
    </div>
</nav>


<button type="button" class="btn btn-primary" id="left" onclick="left()">部署视频</button>
<button type="button" class="btn btn-primary" id="right" onclick="right()">删除视频</button>

<script>
    function left() {
        window.location.href = "/admin/upload";
    }
    function right() {
        window.location.href = "/admin/delete";
    }
</script>
</body>
</html>