#端口
server:
  port: 8080


#数据源配置
spring:
  datasource:
    url: jdbc:mysql://119.3.219.4:3306/live_two?useUnicode=true&characterEncoding=utf8
    username: root
    password: wang123
    driver-class-name: com.mysql.jdbc.Driver
  thymeleaf:
    prefix: classpath:/templates/
    suffix: .html
    encoding: UTF-8
    mode: HTML
    cache: false


  http:
    encoding:
      force: true
      charset: utf-8
      enabled: true
  resources:
    static-locations: classpath:/static/
  devtools:
    restart:
      enabled: true  #开启热部署
  freemarker:
    cache: false  #页面不加载缓存，修改即时生效
