#端口
server:
  port: 8080


#数据源配置
spring:
  datasource:
    url: jdbc:mysql://localhost:3306/live?useUnicode=true&characterEncoding=utf8
    username: root
    password: wang123
    driver-class-name: com.mysql.jdbc.Driver
  thymeleaf:
    prefix: classpath:/templates/
    suffix: .html
    encoding: UTF-8
    mode: HTML
    cache: false


  http:
    encoding:
      force: true
      charset: utf-8
      enabled: true