#端口
server:
  port: 8080


#数据源配置
spring:
  datasource:
    url: jdbc:mysql://121.196.97.16:3306/live?useUnicode=true&characterEncoding=utf8
    username: root
    password: 123456
    driver-class-name: com.mysql.jdbc.Driver
  thymeleaf:
    prefix: classpath:/templates/
    suffix: .html
    encoding: UTF-8
    mode: HTML
    cache: false


  http:
    encoding:
      force: true
      charset: utf-8
      enabled: true
  resources:
    static-locations: classpath:/static/
  devtools:
    restart:
      enabled: true  #开启热部署
  freemarker:
    cache: false  #页面不加载缓存，修改即时生效
#mybatis映射不支持驼峰，得手动开启
mybatis:
  configuration:
    map-underscore-to-camel-case: true