body {
    width: 60%;
    margin: 0 auto;
    background-image: url("/images/yinghuashu.jpg");
}
image{
    width: 171px;
    height: 180px;
}
#play_link{
    margin-top: 300px;
}
#play_btn{
    line-height: 0.5;
}
#leftPageMsg{
    bottom: -80px;
    margin-left:810px;
}
#page{
    margin-left:875px;
}

