<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <!--分类的名称-->
    <title th:text="${myCategory}"></title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.15.0/umd/popper.min.js" integrity="sha384-L2pyEeut/H3mtgCBaUNw7KWzp5n9+4pDQiExs933/5QfaTh8YStYFFkOzSoXjlTb" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <link type="text/css" rel="stylesheet" th:href="@{/css/index.css}" />
    <link type="text/css" rel="stylesheet" th:href="@{/css/category.css}" />
    <script type="text/javascript" th:src="@{/js/jquery-3.4.1.js}"></script>
    <script type="text/javascript" th:src="@{/js/nav.js}"></script>
    <script type="text/javascript" th:src="@{/js/category.js}" th:inline="javascript"></script>
    <link rel="shortcut icon" href="#" />
</head>
<body>
<!--导航条-->
<ul class="nav nav-pills" >
    <li role="presentation"><a href="/index">主页</a></li>
    <li role="presentation" class="active"><a href="/live">直播</a></li>
    <li role="presentation"><a href="/movie">播放视频</a></li>
</ul>
<table class="table" id="tableId">

    <span th:if="${page!=null}">
        <tr>
            <th class="text-center" style="background-color: #FFFAFA;">房间名称</th>
            <th class="text-center" style="background-color: #FFFAFA;">房间号码</th>
            <th class="text-center" style="background-color: #FFFAFA;">主播名称</th>
            <th class="text-center" style="background-color: #FFFAFA;"></th>
        </tr>
        <tr th:each="room:${page.rooms}">
            <td class="text-center" th:text="${room.roomName}" style="background-color: #F8F8FF;"></td>
            <td class="text-center"th:text="${room.roomId}" style="background-color: #F8F8FF;"></td>
            <td class="text-center" th:text="${room.anchorName}" style="background-color: #F8F8FF;"></td>
            <!--  点击后打开一个新窗口         -->
            <td class="text-center" style="background-color: #F8F8FF;"><a th:href="@{'/live/'+${room.roomId}}" target="_blank">播放</a></td>
        </tr>
    </span>

</table>

<div class="leftPageMsg">
    <span>直播数量：<span th:text="${page.totalCount}" id="totalCount"></span></span>
    <span>当前页数：<span th:text="${page.thePage}" id="thePage"></span></span>
    <span>总页数：<span th:text="${page.totalPage}" class="totalPage"></span></span>
</div>

<!--分页-->
<div class="pagination pagination-right navbar-right">
    <button type="button" class="btn btn-info" id="a" th:onclick="categoryList([[${1}]],[[${myCategory}]])">首页</button>
    <button type="button" class="btn btn-info" id="b" th:onclick="categoryList([[${page.thePage-1>1?page.thePage-1:1}]],[[${myCategory}]])">上一页</button>
    <button type="button" class="btn btn-info" id="c" th:onclick="categoryList([[${page.thePage+1>page.totalPage?page.totalPage:page.thePage+1}]],[[${myCategory}]])">下一页</button>
    <button type="button" class="btn btn-info" id="d" th:onclick="categoryList([[${page.totalPage}]],[[${myCategory}]])">尾页</button>
</div>

</body>
</html>