<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <!--分类的名称-->
    <title th:text="${myCategory}"></title>
    <link rel="stylesheet" th:href="@{/static/css/bootstrap.4.4.1.css}" type="text/css">
    <script th:src="@{/static/js/jquery-3.4.1.js}" type="text/javascript"></script>
    <script th:src="@{/static/js/popper.min.js}" type="text/javascript"></script>
    <script th:src="@{/static/js/bootstrap.4.4.1.min.js}" type="text/javascript"></script>
    <link type="text/css" rel="stylesheet" th:href="@{/static/css/index.css}" />
    <link type="text/css" rel="stylesheet" th:href="@{/static/css/category.css}" />
    <script type="text/javascript" th:src="@{/static/js/jquery-3.4.1.js}"></script>
    <script type="text/javascript" th:src="@{/static/js/nav.js}"></script>
    <script type="text/javascript" th:src="@{/static/js/category.js}" th:inline="javascript"></script>
    <link rel="shortcut icon" href="#" />
</head>
<body>
<!--导航条-->
<nav class="nav nav-pills">
    <ul class="nav">
        <li class="nav-item">
            <a class="nav-link active" href="/index">主页</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/live">直播</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/movie">视频</a>
        </li>
    </ul>
    <div class="btn-group">
        <button type="button" class="btn btn-success dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" th:text="${#request.getSession().getAttribute('name')}" id="msg"></button>
        <div class="dropdown-menu">
            <a class="dropdown-item" href="#">个人中心</a>
            <a class="dropdown-item" th:href="@{/logout}">退出登录</a>
        </div>
    </div>
</nav>
<table class="table" id="tableId">

    <span th:if="${page!=null}">
        <tr>
            <th class="text-center" style="background-color: #FFFAFA;">房间名称</th>
            <th class="text-center" style="background-color: #FFFAFA;">房间号码</th>
            <th class="text-center" style="background-color: #FFFAFA;">主播名称</th>
            <th class="text-center" style="background-color: #FFFAFA;"></th>
        </tr>
        <tr th:each="room:${page.rooms}">
            <td class="text-center" th:text="${room.roomName}" style="background-color: #F8F8FF;"></td>
            <td class="text-center"th:text="${room.roomId}" style="background-color: #F8F8FF;"></td>
            <td class="text-center" th:text="${room.anchorName}" style="background-color: #F8F8FF;"></td>
            <!--  点击后打开一个新窗口         -->
            <td class="text-center" style="background-color: #F8F8FF;"><a th:href="@{'/live/'+${room.roomId}}" target="_blank">播放</a></td>
        </tr>
    </span>

</table>

<div class="leftPageMsg" id="leftPageMsg">
    <span>直播数量：<span th:text="${page.totalCount}" id="totalCount"></span></span>
    <span>当前页数：<span th:text="${page.thePage}" id="thePage"></span></span>
    <span>总页数：<span th:text="${page.totalPage}" class="totalPage"></span></span>
</div>

<!--分页-->
<div class="pagination pagination-right" id="page">
    <button type="button" class="btn btn-info" id="a" th:onclick="categoryList([[${1}]],[[${myCategory}]])">首页</button>
    <button type="button" class="btn btn-info" id="b" th:onclick="categoryList([[${page.thePage-1>1?page.thePage-1:1}]],[[${myCategory}]])">上一页</button>
    <button type="button" class="btn btn-info" id="c" th:onclick="categoryList([[${page.thePage+1>page.totalPage?page.totalPage:page.thePage+1}]],[[${myCategory}]])">下一页</button>
    <button type="button" class="btn btn-info" id="d" th:onclick="categoryList([[${page.totalPage}]],[[${myCategory}]])">尾页</button>
</div>

</body>
</html>