<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title th:text="${videoName}"></title>
    <link type="text/css" rel="stylesheet" th:href="@{/css/bootstrap.min.css}" />
    <link type="text/css" rel="stylesheet" th:href="@{/css/index.css}" />
    <script type="text/javascript" th:src="@{/js/jquery-3.4.1.js}"></script>
    <script type="text/javascript" th:src="@{/js/nav.js}"></script>
    <script type="text/javascript" th:src="@{/js/bootstrap.min.js}"></script>
    <link rel="shortcut icon" href="#" />
</head>
<body>
<!--导航条-->
<ul class="nav nav-pills" >
    <li role="presentation"><a href="/index">主页</a></li>
    <li role="presentation"><a href="/live">直播</a></li>
    <li role="presentation" class="active"><a href="/movie">播放视频</a></li>
</ul>


</body>
</html>