<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>视频</title>
    <link rel="stylesheet" th:href="@{/static/css/bootstrap.4.4.1.css}" type="text/css">
    <script th:src="@{/static/js/jquery-3.4.1.js}" type="text/javascript"></script>
    <script th:src="@{/static/js/popper.min.js}" type="text/javascript"></script>
    <script th:src="@{/static/js/bootstrap.4.4.1.min.js}" type="text/javascript"></script>
    <link type="text/css" rel="stylesheet" th:href="@{/static/css/index.css}" />
    <script type="text/javascript" th:src="@{/static/js/jquery-3.4.1.js}"></script>
    <script type="text/javascript" th:src="@{/static/js/nav.js}"></script>
    <link type="text/css" rel="stylesheet" th:href="@{/static/css/live.css}" />
    <link rel="shortcut icon" href="#" />
</head>
<body>
<!--导航条-->
<nav class="nav nav-pills">
    <ul class="nav">
        <li class="nav-item">
            <a class="nav-link" href="/index">主页</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/live">直播</a>
        </li>
        <li class="nav-item">
            <a class="nav-link active" href="/movie">视频</a>
        </li>
    </ul>
    <div class="btn-group">
        <button type="button" class="btn btn-success dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" th:text="${#request.getSession().getAttribute('name')}" id="msg"></button>
        <div class="dropdown-menu">
            <a class="dropdown-item" href="#">个人中心</a>
            <a class="dropdown-item" th:href="@{/logout}">退出登录</a>
        </div>
    </div>
</nav>

<div class="row">
    <div class="col-md-2 col-sm-2">
        <a class="thumbnail" th:href="@{'/video/detail?title=亮剑'}">
            <img th:src="@{/static/images/video/亮剑.jpg}" alt="亮剑">
        </a>
    </div>
    <div class="col-md-2 col-sm-2">
        <a class="thumbnail" th:href="@{'/video/detail?title=琅琊榜'}">
            <img th:src="@{/static/images/video/琅琊榜.jpg}" alt="琅琊榜">
        </a>
    </div>
</div>



</body>
</html>