<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>视频</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.15.0/umd/popper.min.js" integrity="sha384-L2pyEeut/H3mtgCBaUNw7KWzp5n9+4pDQiExs933/5QfaTh8YStYFFkOzSoXjlTb" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <link type="text/css" rel="stylesheet" th:href="@{/css/index.css}" />
    <script type="text/javascript" th:src="@{/js/jquery-3.4.1.js}"></script>
    <script type="text/javascript" th:src="@{/js/nav.js}"></script>
    <link type="text/css" rel="stylesheet" th:href="@{/css/live.css}" />
    <link rel="shortcut icon" href="#" />
</head>
<body>
<!--导航条-->
<ul class="nav">
    <li class="nav-item">
        <a class="nav-link active" href="/index">主页</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="/live">直播</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="/movie">播放视频</a>
    </li>
</ul>

<div class="row">
    <div class="col-md-2 col-sm-2">
        <a class="thumbnail" th:href="@{'/video/detail?title=亮剑'}">
            <img th:src="@{/images/video/亮剑.jpg}" alt="亮剑">
        </a>
    </div>
</div>



</body>
</html>