<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="${title}"></title>
    <script type="text/javascript" th:src="@{/static/js/flv.min.js}"></script>
    <script type="text/javascript" th:src="@{/static/js/flv.js}"></script>
    <link rel="stylesheet" th:href="@{/static/css/bootstrap.4.4.1.css}" type="text/css">
    <script th:src="@{/static/js/jquery-3.4.1.js}" type="text/javascript"></script>
    <script th:src="@{/static/js/popper.min.js}" type="text/javascript"></script>
    <script th:src="@{/static/js/bootstrap.4.4.1.min.js}" type="text/javascript"></script>
    <link type="text/css" rel="stylesheet" th:href="@{/static/css/index.css}" />
    <link type="text/css" rel="stylesheet" th:href="@{/static/css/Dplayer.min.css}" />
    <script type="text/javascript" th:src="@{/static/js/jquery-3.4.1.js}"></script>
    <script type="text/javascript" th:src="@{/static/js/nav.js}"></script>
    <script type="text/javascript" th:src="@{/static/js/Dplayer.min.js}"></script>
    <script type="text/javascript" th:src="@{https://cdn.bootcss.com/hls.js/8.0.0-beta.3/hls.min.js}"></script>
    <link type="text/css" rel="stylesheet" th:href="@{/static/css/play.css}" />
    <script th:src="@{https://cdnjs.loli.net/ajax/libs/blueimp-md5/2.10.0/js/md5.min.js}"></script>
    <link rel="shortcut icon" href="#" />
</head>
<body>
<!--导航条-->
<nav class="nav nav-pills">
    <ul class="nav">
        <li class="nav-item">
            <a class="nav-link" href="/index">主页</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/live">直播</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/movie">播放视频</a>
        </li>
    </ul>
</nav>




<!--通用的播放页面-->
<div id="dplayer">
    <script th:inline="javascript">
        /*var links = [[${liveLink}]];
        var qualities = [];
        var data = {};
        for(var i=0;i<links.length;i++) {
            data["url"] = links[i];
            data["type"] = "hls";
            qualities[i] = data;
        }*/
        var id = md5([[${link}]]);
        const dp = new DPlayer({
            container: document.getElementById('dplayer'),
            autoplay: true,
            video: {
                url: [[${link}]],
                type:'mp4'
            },
            danmaku: {     //弹幕功能，不需要可以删除
                id: id,     //弹幕库的ID，每个视频的弹幕库不能一样，可以把url作为id
                api: 'https://dplayer.alone88.cn/'  //这个是官网写好的弹幕接口，可以直接使用，就是不太稳定
            }
        });
    </script>
</div>

</body>
</html>