.leftPageMsg {
    position: relative;
    bottom: -60px;
    font-size: 18px;
}

#a {
    position: relative;
    right: 100px;
}

#d {
    position: relative;
    right: 0px;
}

#b {
    position: relative;
    right: 60px;
}

#c {
    position: relative;
    right: 40px;
}